.card-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 400px;
  background-color: #ffffe0;
  border: 1px solid #000000;
  border-radius: 15px;
  margin: 50px 20px 20px 20px;
}
.card-word {
  font-size: 45px;
  font-weight: bolder;
  margin: 20px;
}
.card-transcription {
  font-size: 30px;
}
.card-reverse {
  width: 200px;
  height: 30px;
  background-color: #ffa500;
  border-radius: 15px;

  margin: 50px 0px 20px 0px;
  font-size: 20px;
  box-sizing: content-box;
}
.card-reverse:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card-translate {
  font-size: 25px;
  font-weight: bolder;
  margin: 20px 0px 20px 0px;
  color: #228b22;
}
.element-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 50px;
}
.card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.nav-btn {
  width: 40px;
  height: 40px;
  margin: 10px;
  border: none;
  background-image: url(./nav.png);
  background-size: contain;
  border-radius: 25px;
}
.nav-btn:hover {
  border: 1px solid #ffa500;
}
.nav-left {
  transform: rotate(180deg);
}
.card-learned {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  color: #228b22;
}
.card-reverse:focus {
  border: 2px solid #228b22;
}
