.header {
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #6b8e23;
  border-radius: 15px;
}
h1 {
  text-align: center;
  font-size: 45px;
  color: #ff8c00;
}
nav button {
  width: 200px;
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  background-color: #f4a460;
  border-radius: 15px;
  border: none;
}
nav {
  margin: 20px;
}
nav button:hover {
  color: #228b22;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
