.save-btn,
.delete-btn,
.cancel-btn,
.edit-btn {
  width: 25px;
  height: 25px;
  margin: 2px;
  border: none;
}
.delete-btn {
  background-image: url(./delete.png);
  background-size: contain;
}
.save-btn {
  background-image: url(./save.png);
  background-size: contain;
}
.cancel-btn {
  background-image: url(./cancel.png);
  background-size: contain;
}
.edit-btn {
  background-image: url(./edit.png);
  background-size: contain;
}

.save-btn:hover {
  border: 1px solid #ffa500;
}

.edit-btn:hover {
  border: 1px solid #ffa500;
}
.cancel-btn:hover {
  border: 1px solid #ffa500;
}
.delete-btn:hover {
  border: 1px solid #ffa500;
}
.error-inp {
  outline: red auto 1px;
}
/*border: 1px solid red;*/
.loading {
  font-size: 35px;
  color: #228b22;
  text-align: center;
}
